.left_slide {
    width: 59px;
    height: 126px;
    background-color: #e4eaf5;
    float: left;
    font-size: 20px;
    margin-left: -59px;
    margin-right: 15px;
    display: none;
}

.check_btn {
    color: #376b48;
    cursor: pointer;
    margin-left: 4px;
    line-height: 55px;
}

.check_btn:hover {
    color: #55b374;
}

.times_btn {
    color: #8f5757;
    cursor: pointer;
    line-height: 55px;
}

.times_btn:hover {
    color: #c95656;
}

.merge_span {
    color: #3a998a;
    cursor: pointer;
}

.class-intent_2 {
    width: 100%;
    display: block;
    background-color: #fafaef;
    padding-bottom: 2px;
}

.info-head_2 {
    width: 100%;
    padding: 16px 26px;
    padding-bottom: 0px;
}

.info-bottom_2 {
    width: 100%;
    padding: 16px 26px;
}

.save_this {
    width: 188px;
    height: 53px;
    font-size: 20px;
    line-height: 53px;
    display: inline-block;
    cursor: pointer;
}

.merge_this {
    width: 188px;
    height: 53px;
    font-size: 20px;
    line-height:53px;
    background-color: #d9d976;
    color: #76766a;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.merge_this:hover {
    background-color: #e6e69d;
}

.finish_this {
    width: 188px;
    height: 53px;
    font-size: 20px;
    line-height:53px;
    background-color: #6b6f78;
    color: #fff;
    display: inline-block;
}

.who_div {
    display: inline-block;
    float: right;
    margin-right: 22px;
}

.who_pic {
    display: inline-block;
}

.who_name {
    display: inline-block;
    position: relative;
    left: 5px;
    top: -8px;
    color: #778294;
    font-size: 20px;
}

.feedback_btn {
    width: 188px;
    height: 53px;
    font-size: 20px;
    line-height:53px;
    background-color: #577acb;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.feedback_btn:hover {
    background-color: #7490d3;
}

.merge_box {
    position: relative;
    top: 18px;
}

.refuse_merge {
    color: #fff;
    background-color: #d47859;
    width: 100px;
    height: 53px;
    font-size: 20px;
    line-height: 53px;
    border: none;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.refuse_merge:hover {
    background-color: #df9075;
}

#choose {
    width: 520px;
    height: 532px;
    overflow: auto;
    background-color: #f4f5f9;
    font-size: 30px;
    color: #414c58;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 0 7px #88a7da;
    -moz-box-shadow: 0 0 7px #88a7da;
    box-shadow: 0 0 7px #88a7da;
    position: fixed;
    top: 80px;
    left: 30%;
    display: none;
}

.choose_title {
    font-size: 30px;
    color: #414c58;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "PingFang SC";
}

.def_div {
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    color: #414c58;
    padding: 0 35px;
    cursor: pointer;
    position: relative;
}

.def_div:hover {
    background-color: #fff;
}

.line_def {
    position: relative;
    top: 12px;
    left: -195px;
}

.type_def {
    position: relative;
    top: -16px;
    left: -110px;
}

.describe_def {
    position: relative;
    top: -8px;
    text-align: left;
}

.hr_choose {
    width: 87%;
    border: 1px solid #979797;
}

.recordId {
    display: none;
}