@media (min-width: 768px) {
    #auto-container {
        width: 70%;
        margin: 100px auto;
    }
}

@media (max-width: 768px) {
    #auto-container {
        width: 90%;
        margin: 100px auto;
    }

}

#all-defect {
    margin-top: 50px;
}

.project-title {
    font-size: 25px;
    height: 53px;
    padding: 8px 35px;
    color: #fff;
    text-align: center;
    background-color: rgb(76, 100, 157);
    border-radius: 2px;
    display: inline-block;
}

.project-char {
    height: 28px;
    display: block;
    margin-top: 16px;
}

.project-owner {
    /*vertical-align: middle;*/
    display: inline-block;
    margin-right: 18px;
}

.type-image {
    height: 18px;
    width: 37px;
    display: inline-block;
    background-image: url("../image/code.svg");
    margin-right: 12px;
}

.project-time, .project-detail, .member, .left-time, .submit-button {
    margin-top: 20px;
}

.member-list {
    display: block;
    height: 40px;
    margin-top: 8px;
    text-align: center;
}

#init-form {
    margin-top: 20px;
    display: block;
}

.form-empty {
    margin-top: 10px;
    background-color: #BEC4D2;
    display: block;
    padding-top: 4px;
    padding-bottom: 21px;
}

.form-line {
    display: block;
    margin-left: 25px;
    margin-right: 25px;
}

.control {
    margin-top: 10px;
}

.class-intent {
    width: 100%;
    display: block;
    padding: 16px 26px;
    background-color: #F3F5F9;
}

.head-text {
    color: #7490D3;
    font-size: 22px;
    margin-right: 15px;
    display: inline-block;
}

.info-head, .info-bottom {
    width: 100%;

}

.feedback_btn {
    width: 188px;
    height: 53px;
    font-size: 20px;
    line-height:53px;
    background-color: #577acb;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.feedback_btn:hover {
    background-color: #7490d3;
}

.merge_this {
    width: 188px;
    height: 53px;
    font-size: 20px;
    line-height:53px;
    background-color: #d9d976;
    color: #76766a;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.merge_this:hover {
    background-color: #e6e69d;
}



