/* 滑入界面 */
#toaster {
    width: 250px;
    height: 60px;
    background: white;
    padding:10px 20px;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    right: -270px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: 0 0px 10px #bdccee;
    -moz-box-shadow: 0 0px 10px #bdccee;
    box-shadow: 0 0px 10px #bdccee;
}

#toaster:target {
    right: 10px;
}

#toaster_close:target #toaster {
    right: -270px;
}

/* 滑出界面 */
#toaster_close {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 9999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: 0 0px 10px #bdccee;
    -moz-box-shadow: 0 0px 10px #bdccee;
    box-shadow: 0 0px 10px #bdccee;
}

#pic_div {
    width: 40px;
    height: 40px;
    border-radius: 60px;
}

#remind {
    margin-left: 65px;
    margin-top: -40px;
    font-size: 19px;
    line-height: 40px;
    vertical-align: middle;
    font-family: "PingFang SC";
}

.green_pic {
    background-image: url("../image/yes.svg");
}
.green_word {
    color: #35C48A;
}

.red_pic {
    background-image: url("../image/no.svg");
}
.red_word {
    color: #D47859;
}

.yellow_pic {
    background-image: url("../image/alert.svg");
}
.yellow_word {
    color: #ECC63B;
}

