/* 滑入界面 */
#toaster {
    width: 250px;
    height: 60px;
    border-radius: 4px;
    background: white;
    padding:5px 20px;
    position: absolute;
    right: -270px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#toaster:target {
    right: 10px;
}

#toaster_close:target #toaster {
    right: -270px;
}

/* 滑出界面 */
#toaster_close {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 9999;
}

#pic_div {
    width: 50px;
    height: 50px;
    border-radius: 60px;
}

#remind {
    margin-left: 65px;
    margin-top: -40px;
    font-size: 19px;
    line-height: 20px;
    vertical-align: middle;
    font-family: "PingFang SC";
}

.green_pic {
    background-color: green;
}
.green_word {
    color: green;
}

.red_pic {
    background-color: darkred;
}
.red_word {
    color: darkred;
}

.yellow_pic {
    background-color: orange;
}
.yellow_word {
    color: orange;
}