<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://115.159.122.196:3306/throne</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">141250089</property>
        <mapping resource="Project.hbm.xml"/>
        <mapping class="POJO.Project"/>
        <mapping resource="User.hbm.xml"/>
        <mapping class="POJO.User"/>
        <mapping resource="Message.hbm.xml"/>
        <mapping class="POJO.Message"/>
        <mapping resource="Friends.hbm.xml"/>
        <mapping class="POJO.Friends"/>
        <mapping resource="Invitement.hbm.xml"/>
        <mapping class="POJO.Invitement"/>
        <mapping resource="Personalreview.hbm.xml"/>
        <mapping class="POJO.Personalreview"/>
        <mapping resource="Attendance.hbm.xml"/>
        <mapping class="POJO.Attendance"/>
        <mapping resource="Summary.hbm.xml"/>
        <mapping class="POJO.Summary"/>
        <mapping class="POJO.Commitrecord"/>
        <mapping resource="Commitrecord.hbm.xml"/>
        <mapping class="POJO.Projectquality"/>
        <mapping resource="Projectquality.hbm.xml"/>
        <mapping resource="User.hbm.xml"/>
        <mapping class="POJO.Achievement"/>
        <mapping resource="Achievement.hbm.xml"/>
        <mapping class="POJO.Contribution"/>
        <mapping resource="Contribution.hbm.xml"/>
        <mapping class="POJO.PersonalAchievement"/>
        <mapping resource="PersonalAchievement.hbm.xml"/>
        <mapping class="POJO.File"/>
        <mapping resource="File.hbm.xml"/>


    </session-factory>
</hibernate-configuration>
